.Template-container {
  padding: 0;
  background-color: white !important;
}

.Template-content {
  //background-image: url(https://demo-source.imgix.net/model.jpg);
  //background-position: top;
  //background-size: cover;
  //background-repeat: no-repeat;
  margin: 0;
  padding: 1em;
  min-height: 80vh;
}