openapi: 3.0.3

info:
  version: 1.0.0
  title: Familias
  description: Api REST de provisión de familias
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  contact:
    email: jesvizan@jcyl.es
  termsOfService: 'https://www.jcyl.es/terminosServicio'
servers:
  - url: 'https://jcweb24des101.ae.jcyl.es/{basePath}'
    variables:
      basePath:
        default: /api/v1
paths:
  /current-user/securityInfo:
    get:
      summary: Recuperar los roles del usuario que invoca
      operationId: getCurrentUserSecurityInfo
      tags:
        - CurrentUser
      security:
        - keycloak: [ currentUser_read ]
      responses:
        '200':
          description: Operación realizada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformacionSeguridadUsuario'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/UnspecifiedError'
  /security/roles:
    get:
      summary: Recuperación de los roles disponibles
      operationId: getRoles
      tags:
        - Security
      security:
        - keycloak: [ security_roles_read ]
      responses:
        '200':
          description: Operación realizada con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TipoRol'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/UnspecifiedError'

  /security/usuarios:
    post:
      summary: Recuperación de los usuarios de la aplicación
      operationId: getUsuarios
      tags:
        - Security
      security:
        - keycloak: [ security_users_read ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiltroUsuario'
      responses:
        '200':
          description: Operación realizada con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Usuario'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/UnspecifiedError'

  /security/usuarios/{idUsuario}:
    get:
      summary: Recuperación de los datos de un usuario
      operationId: getUsuario
      tags:
        - Security
      security:
        - keycloak: [ security_users_read ]
      parameters:
        - in: path
          name: idUsuario
          description: Identificador del usuario
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Operación realizada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/UnspecifiedError'
    put:
      summary: Modificación de un usuario
      description: Modificación de un usuario
      operationId: modificarUsuario
      tags:
        - Security
      security:
        - keycloak: [ security_users_read ]
      parameters:
        - in: path
          name: idUsuario
          description: Identificador del usuario
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModificacionUsuario'
      responses:
        '200':
          description: Operación realizada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/UnspecifiedError'
  /current-user/verificarIdentidad:
    post:
      summary: Validar ciudadano con la información de su DNI
      operationId: validarCiudadano
      tags:
        - CurrentUser
      security:
        - keycloak: [ currentUser_write ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InformacionValidacionDNI'
      responses:
        '200':
          description: Operación realizada con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformacionSeguridadUsuario'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/UnspecifiedError'

components:
  securitySchemes:
    keycloak:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: >-
            https://ssokcpre.jcyl.es/auth/realms/GSS-conciliacion-extranet/protocol/openid-connect/auth
          tokenUrl: >-
            https://ssokcpre.jcyl.es/auth/realms/GSS-conciliacion-extranet/protocol/openid-connect/token
          scopes:
            peticiones_write: Modificación de peticiones
            convocatorias_read: Consulta de convocatorias
            convocatorias_write: Modificación de convocatorias
            centros_read: Consulta de centros
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    DummyResponse:
      description: Respuesta para generar stubs
      content:
        application/json:
          schema:
            type: object
    Void:
      description: Respuesta sin contenido
      content:
        application/json:
          schema:
            type: object

    Unauthorized:
      description: Debe indicar datos de autorización en la petición
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: No tiene permiso para ejecutar la operación
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnspecifiedError:
      description: Error inesperado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: El elemento solicitado no existe
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'


  schemas:
    Error:
      type: object
      required:
        - codigo
        - descripcion
      properties:
        codigo:
          type: string
        descripcion:
          type: string
        descripcionDetallada:
          type: string

    CampoOrdenacion:
      type: object
      required:
        - campo
        - ascendente
      properties:
        campo:
          type: string
          description: Campo de ordenación
          example: id
        ascendente:
          type: string
          description: Si es ascende o no
          example: S

    InformacionSeguridadUsuario:
      type: object
      properties:
        principal:
          type: string
          description: Identificador de seguridad del usuario
        roles:
          type: array
          description: Roles del usuario
          items:
            $ref: '#/components/schemas/Rol'
        esCiudadano:
          type: boolean
          description: Indica si el usuario es un ciudadano
        esCiudadanoIdentificado:
          type: boolean
          description: Indica si el usuario es un ciudadano identificado

    TipoAmbito:
      type: object
      properties:
        idAmbito:
          type: string
          description: Identificador del ámbito
        descripcion:
          type: string
          description: Descripción del ámbito

    TipoRol:
      type: object
      properties:
        idRol:
          type: string
          description: Identificador del rol
        descripcion:
          type: string
          description: Descripción del rol
        ambitos:
          type: array
          items:
            $ref: '#/components/schemas/TipoAmbito'

    Rol:
      type: object
      required:
        - idRol
      properties:
        idRol:
          type: string
          description: Identificador del rol
        idsAmbito:
          type: array
          description: Identificadores de los ámbitos del rol
          items:
            type: string
            description: Identificador del ámbito del rol

    DatosAuditoria:
      type: object
      properties:
        usuarioCreacion:
          type: string
          description: Datos usuario creación del registro
        fechaCreacion:
          type: string
          description: Fecha y hora de la creación del registro
          format: date-time
          example: '2021-06-15T09:41:12Z'
        usuarioModificacion:
          type: string
          description: Datos usuario modificación del registro
        fechaModificacion:
          type: string
          description: Fecha y hora de la modificación del registro
          format: date-time
          example: '2021-06-15T09:41:12Z'

    FiltroUsuario:
      type: object
      description: Filtro de usuarios. Se utilizan todos los campos no nulos con el operador AND
      properties:
        principal:
          type: string
          description: Principal del usuario
        fechaInicioValidez:
          type: string
          format: date
          description: Indica la fecha de inicio de validez
          example: '1999-11-22'
        fechaFinValidez:
          type: string
          format: date
          description: Indica la fecha de fin de validez
          example: '2030-11-22'
        nombre:
          type: string
          minLength: 2
          maxLength: 40
          example: "LUIS"
        apellidos:
          type: string
          minLength: 2
          maxLength: 40
          example: "MENDIZABAL GÓMEZ"
        activo:
          type: boolean
          description: Indica si el usuario está activo
        roles:
          type: array
          description: OR de roles
          items:
            $ref: '#/components/schemas/Rol'
        campoOrdenacion:
          $ref: '#/components/schemas/CampoOrdenacion'

    ModificacionUsuario:
      type: object
      properties:
        fechaInicioValidez:
          type: string
          format: date
          description: Indica la fecha de inicio de validez
        fechaFinValidez:
          type: string
          format: date
          description: Indica la fecha de fin de validez
        activo:
          type: boolean
          description: Indica si el usuario está activo o no
        roles:
          type: array
          description: Roles del usuario
          items:
            $ref: '#/components/schemas/Rol'

    PeticionValidacionToken:
      type: object
      required:
        - subject
        - documentoIdentidad
      properties:
        subject:
          type: string
        documentoIdentidad:
          type: string

    RespuestaValidacionToken:
      type: object
      required:
        - subject
        - documentoIdentidad
        - validado
      properties:
        subject:
          type: string
        documentoIdentidad:
          type: string
        validado:
          type: boolean

    Usuario:
      type: object
      required:
        - activo
      properties:
        subject:
          type: string
          description: Identificador de seguridad del usuario
        principal:
          type: string
          description: Principal del usuario
        nombre:
          type: string
          minLength: 2
          maxLength: 40
          example: "LUIS"
        apellidos:
          type: string
          minLength: 2
          maxLength: 40
          example: "MENDIZABAL GÓMEZ"
        activo:
          type: boolean
          description: Indica si el usuario está activo
        fechaInicioValidez:
          type: string
          format: date
          description: Indica la fecha de inicio de validez
        fechaFinValidez:
          type: string
          format: date
          description: Indica la fecha de fin de validez
        fechaUltimoAcceso:
          type: "string"
          format: "date-time"
          description: "Fecha de la último accesos"
        roles:
          type: array
          description: Roles del usuario
          items:
            $ref: '#/components/schemas/Rol'

    InformacionValidacionDNI:
      type: object
      required:
        - documento
        - nombre
        - apellido1
        - fechaNacimiento
        - fechaCaducidad
        - numeroSoporte
      properties:
        documento:
          type: string
          minLength: 9
          maxLength: 9
        nombre:
          type: string
        apellido1:
          type: string
        apellido2:
          type: string
        fechaNacimiento:
          type: string
          format: date
        fechaCaducidad:
          type: string
          format: date
        numeroSoporte:
          type: string

