@import '~bootstrap/scss/bootstrap';


$pal-col-1: #df1162;
$pal-col-2: #aacff1;
$pal-col-3: #adb6c4ff;
$pal-col-4: #ffefd3ff;
$pal-col-5: yellow;

body {
  background-color: $pal-col-2;
  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

.App-container {
  @include media-breakpoint-up(xs) {
    padding: 0;
  }
  background-color: $pal-col-2;
}

.App-top, .App-bottom {
  @include media-breakpoint-down(md) {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    z-index: 1000;
  }
}

.App-top {
  background-color: $pal-col-1;
  color: white;
  @include media-breakpoint-down(md) {
    top: 0;
  }
}

.App-content {
  @include media-breakpoint-down(md) {
    margin-top: 60px;
  }
  z-index: 0;
  background-color: $pal-col-2;
  padding: 10px;
}

.App-bottom {
  @include media-breakpoint-down(md) {
    bottom: 0;
    padding: 10px;
  }
  background-color: $pal-col-2;
}