var PUBLIC_URL = "${PUBLIC_URL}";
var REACT_APP_BASE_URL = "${REACT_APP_BASE_URL}";
var REACT_APP_OIDC_REALM = "${REACT_APP_OIDC_REALM}";
var REACT_APP_OIDC_CLIENT_ID = "${REACT_APP_OIDC_CLIENT_ID}";
var REACT_APP_OIDC_REDIRECT_URI = "${REACT_APP_OIDC_REDIRECT_URI}";
var REACT_APP_OIDC_SCOPE = "${REACT_APP_OIDC_SCOPE}";
var REACT_APP_BACKEND_BASE_URL = "${REACT_APP_BACKEND_BASE_URL}";
